.skill_main{
  margin-left: 19%;
  max-width: 50vw;
}

.skill_main h1{
  font-size: xx-large;
  margin: 5% 35%;
  margin-top: 15%;
}

.skill_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skill_card{
  border: rgb(108, 107, 107) solid;
  border-radius: 25px;
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  min-width: 11rem;
  margin: 1rem;
  margin-left: 2rem;
}

.skill_item_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skill_item{
  margin:0.6rem;
}


@media (max-width: 768px) {
  .skill_main {
      margin-left: 8%;
      max-width: 50vw;
    }

  .skill_container {
    display: grid;
    grid-template-columns: 1fr;
  }

    .skill_main h1 {
      font-size: 1.3em;
      
      margin-top: 15%;
      margin-left:48%;
    }



}
