.home{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 100vh;
  width: 70%;

}

.mainContent{
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .home{
    width: 85%;
  }
}
