.home{
  display: flex;
  align-items: flex-start;
}

h1{
  width: 70%;
  font-size: xx-large;
  text-align: left;
  border-bottom: 2px #575757 solid;
}

.home_main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

section{
 width: 75vw;
 margin-bottom: 4vh;
}

@media (max-width: 768px) {
  .home{
    width: 85%;
  }
}
