input,textarea {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #464646a9;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

textarea {
  height: 150px;
  line-height: 120%;
  resize: vertical;
}


.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20vh;
}

.contact form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.51);
  width: 60%;
  height: 15em;
  padding: 2em;
}

.contact form textarea{
  height: 50%;
  border-radius: 16px;
}

.submit-btn {
  height: 40px;
  font-size: large;
  text-decoration: none;
  color: #ffff;
  background-color: #6b6969;
  border: none;
  border-radius: 10px;
}


.submit-btn:hover {
  background-color: #f5cbbfd5;
}

.contact_msg {
  font-size: 4rem;
  margin: 5rem;
}

@media (max-width: 1024px) {

}
@media (max-width: 768px) {
  .contact form {
    width: 50%;
  }

}
