
.works{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}


.project {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project h3{
  margin-block-start: 1rem;
  margin-block-end: -2rem;
}

.project p {
  width: 55vw;
  margin-block-start:0;
}

.iconlinks{
  width:40vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: large;
  font-weight: 500;
}

.iconlinks a {
  align-self: center;
  justify-content: center;
  text-decoration: none;
  border: 2px solid rgb(118, 117, 117);
  border-radius: 25px;
  width: 10rem ;
  height: 2.5rem;
  text-align: center;
  line-height: 2;
}

.iconlinks a:hover{
  background-color: rgba(171, 226, 237, 0.881)
}

 img {
  width: 70vw;
  align-self: center;
}



@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .project {
    flex-direction: column;
    justify-content: center;
  }

  img {
    width: 82vw;
  }

  .iconlinks {
    font-size: small;
    width: 60vw;
   
  }

  .iconlinks a {
    width: 8rem;
    height: 1.7rem;
    margin-left: 0.4rem;
    margin-bottom: 0.6rem;
    line-height: 2;
  }

  .project h3 {
    margin-block-start: 1rem;
    margin-block-end: -1rem;
  }
}
