nav {
 
  display: flex;
  flex-direction: row-reverse;
  transform: rotate(-90deg) translate3d(-50%,0,0);
  font-size: large;
  width: 3vw;
  margin-top: 8%;

}

nav a {
  margin-right: 25px;
  text-decoration: none;
  color: #575757;
}

nav a:hover {
  text-decoration: none;
  color: #ec704c;
}

nav a.active {
  color: #ec704c;
}

@media (max-width: 768px) {
  nav {

  }
}
