.iconWrapper{
    display: flex;
    flex-direction: column;

    font-size: 1.8em;
    margin-top: 20%;
}

.icon{
  margin-bottom: 0.7em;
  color: rgb(58, 58, 58);
}


@media (max-width: 768px) {

}
